#about { 
  background-color: #222;
  height: 100%;
  display: flex;
  align-items: center;
  min-height: 88rem;
}
#about .wrap { 
  display: flex;
}
#about .wrap .hello{
  width: calc(100% - 35%);
  color: #ccc;
}
#about .wrap figure { 
  width: calc(100% - 65%);
}
#about .wrap figure img {
  padding-right: 40px;
}
#about .wrap div.about {
  width: 100%;
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}
#about .wrap div.hello h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
}
#about .wrap div.about p {
  line-height: 1.8;
}
#about .wrap div.about p span{
  color: rgb(10, 205, 206);
}
/*  구분선  */
#about .wrap div.career{  
  display: flex;
  flex-direction: column;
  width: 100%;
}
#about .wrap div.career h3 {
  padding-top: 30px;
  font-weight: 300;
}
#about .wrap div.career ul {
  font-size: 14px;
  flex-direction: column;
  display: flex;
  margin-top: 15px;
}
#about .wrap div.career ul li {  
  line-height: 2;
}
