#footer {
  
  background: #f5f5f5;
}
#footer .wrap {
  
}
#footer .wrap .fb1 {
  
  width: calc(100% / 3);
  margin-left: 25px;
  margin-right: 50px;
}
#footer .wrap .fb1 ul {
  
}
#footer .wrap .fb1 ul li {
  gap: 10px;
  display: flex;
  padding-bottom: 20px;
}
#footer .wrap .fb1 ul li > a {
  
  color: rgb(102, 109, 117);
}
#footer .wrap .fb1 ul li > a::before{
  content: "\2022";
  margin-right: 3px;
}
#footer .wrap .fb1 ul li > a:nth-child(1),#footer .wrap .fb1 ul li > a:nth-child(3){
}
#footer .wrap .fb1 ul li > a:nth-child(2){
  font-weight: 700;
}
#footer .wrap .fb1 ul p.fb-name {
  
}
#footer .wrap .fb1 ul p.fb-name > span {
  
}
#footer .wrap .fb1 ul p.fb-number {
  
  color: rgb(102, 109, 117);
  padding: 20px 0;
}
#footer .wrap .fb1 ul p.fb-number > span {
  
}
#footer .wrap .fb1 ul address {
  
  color: rgb(102, 109, 117);
  padding-bottom: 20px;
}
#footer .wrap .fb1 ul address > span {
  
}
#footer .wrap .fb1 ul p {
  
  color: rgb(102, 109, 117);
}
#footer .wrap .fb2{

  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}
#footer .wrap .fb2 ul{
  
  height: 100%;
}
#footer .wrap .fb2 ul li{
  
  display: flex;
}
#footer .wrap .fb2 ul li:nth-child(1),
#footer .wrap .fb2 ul li:nth-child(3){
  margin-bottom: 20px;
}
#footer .wrap .fb2 ul li:nth-child(2){
  margin-bottom: 10px;
}
#footer .wrap .fb2 ul li > h2{
  
  margin-right: 7px;
}
#footer .wrap .fb2 ul li > h3{
  
  margin-right: 7px;
}
#footer .wrap .fb2 ul li > h3 a{
   color: rgb(54, 143, 255);
}
#footer .wrap .fb2 ul li p .fb2korea{
  
  color: rgb(54, 143, 255);
}
#footer .wrap .fb2 ul li > h3 p{
  
}
#footer .wrap .fb2 ul li > h3 p a{
  
}
#footer .wrap .fb2 ul li .fb2clock{

  line-height: 1.6;
}
#footer .wrap .fb2 ul li .fb2clock span{

}
#footer .wrap .fb3 {
  width: calc(100% / 3);
}
#footer .wrap .fb3 .fb2a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
#footer .wrap .fb3 .fb3a{
  
  justify-content: center;
  display: flex;
}
#footer .wrap .fb3 .fb3a .link-go {
  
  border: 1px solid #e2e2e2;
  color: rgb(102, 109, 117);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}
#footer .wrap .fb3 .fb3a .link-go:nth-child(1){
  
  padding: 10px 20px;
  margin-right: 20px;
}
#footer .wrap .fb3 .fb3a .link-go:nth-child(2){
  
  padding: 7px 10px 7px 15px;
}
#footer .wrap .fb3 .fb3a .link-go span:nth-child(1){
  
  background-image: url(../img/download.svg);
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 3px;
}
#footer .wrap .fb3 .fb3c {
  
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 100%;
  align-items: end;
}
#footer .wrap .fb3 .fb3c img {
  
  width: 100px;
  height: 100px;
}