  #menu {
    background: #fff;
    height: 100%;
    right: -100%;
    opacity: 0;
    /*! overflow: hidden; */
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.4s;
    visibility: hidden;
    width: 85%;
    z-index: 1100;
    box-sizing: border-box;
  }
  #menu.open {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  #menu .menu-head{

  align-items: center;
  display: inline-flex;
  transform: translateY(10px);
  width: 100%;
  justify-content: end;
  transform: translateX(-80px) translateY(12px);
  gap: 10px;
  }
  #menu .menu-head a{
  font-size: 0;
  height: 33px;
  width: 33px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  } 
  #menu .menu-head a:nth-child(1){

  background-image: url(../img/sidemenu-alarm.svg);
  }
  #menu .menu-head a:nth-child(2){

  background-image: url(../img/sidemenu-setting.svg);
  }
  #menu .main-nav {
    position: relative;
    height: 430px;
    padding-top: 40px;
  }
  #menu .main-nav >ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 0px 30px;
  }
  #menu .main-nav >ul #user-box{

  }
  #menu .main-nav >ul #user-box > a{

  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto;
  padding: 0;
  padding-bottom: 30px;
  }
  #menu .main-nav >ul #user-box > a li{
    
  }
  #menu .main-nav > ul #user-box > a li:nth-child(1){

  order: 1;
  text-align: initial;
  padding-bottom: 10px;
  }
  #menu .main-nav > ul #user-box > a li:nth-child(2){

  order: 3;
  display: flex;
  gap: 50px;
    }
  #menu .main-nav > ul #user-box > a li:nth-child(3){

  order: 2;
  grid-row: span 2;
  align-items: center;
  display: flex;
  justify-content: center;
    }
  #menu .main-nav >ul #user-box > a li h2{

  line-height: 2;
  font-size: 1.4rem;
  font-weight: 600;
  }
  #menu .main-nav >ul #user-box > a li p{

  display: flex;
  flex-direction: column-reverse;
  font-weight: 500;
  font-size: 0.8rem;
  }
  #menu .main-nav >ul #user-box > a li p span{

  display: flex;
  color: #1D9BD6;
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-weight: 700;
  }
  #menu .main-nav >ul #user-box > a li img{

  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }
  #menu .main-nav >ul .user-menu{

  border-top: 1px solid #eee;
  }
  #menu .main-nav > ul .user-menu:last-child{

  border-bottom: 1px solid #eee;
  }
  #menu .main-nav >ul .user-menu a{
  
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  }
  #menu .main-nav >ul .user-menu a h3{

  font-weight: 600;
  font-size: 1rem;
  }
  #menu .main-nav >ul .user-menu a p{

  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #1D9BD6;
  font-weight: 600;
  }
  #menu .main-nav >ul .user-menu a p span:not(.level-point){

  background-image: url(../img/arrowR.svg);
  width: 10px;
  height: 10px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin-left: 10px;
  }
  #menu .main-nav >ul .user-menu a p .level-point{
    
  }
  #menu .menu-footer {
    /*! padding: 2rem; */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    background: #fff;
    height: 312px;
  }
  #menu .menu-footer nav{
  width: 100%;
  height: calc(312px - 113px);
  }
  #menu .menu-footer nav > ul {
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
  }
  #menu .menu-footer nav > ul a{

  display: flex;
  flex-direction: column;
  align-items: center;
  }
  #menu .menu-footer nav > ul a li{

  order: 2;
  line-height: 1.2;
  font-size: 0.9rem;
  }
  #menu .menu-footer nav > ul a img{
  width: 33px;
  height: 33px;
  order: 1;
  margin-bottom: 5px;
  }
  #menu .menu-footer .footer-banner{

  width: 100%;
  display: block;
  height: 113px;
  }
  #menu .menu-footer .footer-banner img{

  }
  /* 토글 메뉴 */
  .toggle-menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline-block;
      float: right;
      height: 50px;
      outline: none;
      padding: 0;
      pointer-events: initial;
      /*! position: absolute; */
      vertical-align: middle;
      width: 33px;
      z-index: 1110;
      right: 270px;
      top: 11.5px;
      display: none;
    }
    @media screen and (max-width:1140px){
      .toggle-menu {
          display: block;
        }
    }
    .toggle-menu span {
      background-color: black;
      content: "";
      display: block;
      height: 3px;
      left: calc(50% - 13px );
      /*! position: absolute; */
      top: calc(50% - 1px );
      transform-origin: 50% 50%;
      transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
      width: 33px;
    }
    .toggle-menu span:before, .toggle-menu span:after {
      background-color: black;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      transform-origin: 50% 50%;
      transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
      width: 32px;
    }
    .toggle-menu span:before {
      top: 35px;
    }
    .toggle-menu span:after {
      top: 54px;
    }
    .toggle-menu.active span {
      background-color: transparent;
      transition: background 0.2s ease-out;
    }
    .toggle-menu.active span:before, .toggle-menu.active span:after {
      transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
    }
    .toggle-menu.active span:before {
      top: 40px;
      transform: rotate3d(0, 0, 1, -45deg);
    }
    .toggle-menu.active span:after {
      top: 41px;
      transform: rotate3d(0, 0, 1, 45deg);
    }