#hotple {
  
  background-color: #f5f5f5;
}
#hotple h2 {  
}
#hotple .wrap {
  
}
#hotple .wrap ul li {
  
}
#hotple .wrap ul .hpflex{
  
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
#hotple .wrap ul li a {  
  background-color: rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
}
#hotple .wrap ul li a:nth-child(8){
  background-color: rgba(0, 0, 0, 0.2);
}

#hotple .wrap ul li a:hover{
  
}
#hotple .wrap ul li a .hoverbox{  
  height: 100%;
  position: relative;
}
#hotple .wrap ul li a .hoverbox img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: block;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hotple .wrap ul li a .hoverbox .hotple3,
#hotple .wrap ul li a .hoverbox .hotple5{
  background-position: bottom;
}
#hotple .wrap ul li a .hoverbox .hotple8{
  height: 100%;
  width: 100%;
  display: block;
}
#hotple .wrap ul li a .hovergroupbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
#hotple .wrap ul li a .nothovergroupbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
#hotple .wrap ul li a .nothovergroupbox:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
}
#hotple .wrap ul li a .hovergroupbox .hovergroup{
  display: none;
}
#hotple .wrap ul li a .hovergroupbox:hover .hovergroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#hotple .wrap ul li a .hovergroup{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#hotple .wrap ul li a .hovergroup h3 {
  
  line-height: 2;
  width: 100%;
  color: white;
}
#hotple .wrap ul li a .hovergroup p {
  
  width: 100%;
  height: 25px;
  padding-left: 10px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#hotple .wrap ul li a .hovergroup span{
  
  background-image: url(../img/arrowR_GO.svg);
  width: 25px;
  height: 25px;
  display: block;
}
#hotple .wrap ul li h4 {  
  line-height: 4;
  font-weight: 400;
}


/* 핫플 슬릭 */
#hotple .wrap ul .slick-dots {
  bottom: -30px;
}
#hotple .wrap ul .slick-prev, #hotple .wrap ul .slick-next{ 
  top: 40%;
}
#hotple .wrap ul .slick-prev{  
  left: 0;
}
#hotple .wrap ul .slick-next{ 
  right: 0;
}