/* 공통클래스 스타일 */
.wrap{
  width: 1200px;
  margin: 0 auto;
}

html{
  height: 100%;
  font-size: 62.5%
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  color: white;
}

/* 헤더 + 타이틀 */
header{
  position: fixed;
  display: flex;
  justify-content: center;
  transition: all 0.6s;
  z-index: 1;
  width: 100%;
}

header a{
  
}

header:hover{
  background-color: rgba(0,0,0,0.6);
    
}

header .wrap{
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
}

header>div> h1{
  
}

header>div> h1 a{
  
  font-weight: 600;
  font-size: 2rem;
}

header>div> a{
  color: white;
}

header>div>ul{
  height: 100%;
  display: flex;
  gap: 2.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  align-items: center;
}

header div ul.gnb li .logohover img{

}
header div ul.gnb li .logohover{
}
header div ul.gnb li .logohover svg{ 
  fill: white;
}
div#title{
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 88rem;
}

div#title .title-box{
  position: absolute;
  top: 35%;
  left: calc(50% - 214.5px);
  text-align: center;
}

div#title .title-box .title-overlay{
  
}

div#title .title-box .title-overlay h2{ 
  line-height: 1.2;
  font-weight: 800;
}
div#title .title-box .title-overlay h3{
  
}

div#container{ 
  overflow: hidden;
  line-height: 0;
}


/* 타이틀 마우스 스크롤 */
div#title .scroll-downs {
  position: absolute;
  top: 1.2rem;
  right: 0;
  bottom: -60rem;
  left: -8.5px;
  margin: auto;
  width :3.4rem;
  height: 5.5rem;
}

div#title .mousey {
  width: 3px;
  padding: 1rem 1.5rem;
  height: 3.5rem;
  border: 2px solid #fff;
  border-radius: 2.5rem;
  opacity: 0.75;
  box-sizing: content-box;
}

div#title .scroller {
  width: 3px;
  height: 1rem;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

div#title .scrollerspan{ 
  width: 9rem;
  height: 2rem;
  display: inline-block;
  font-size: 1.6rem;
  color: rgb(204, 204, 204);
  left: -2rem;
  position: absolute;
  top: 7rem;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}