/* 포트폴리오 공통 스타일 */
#portfolio .wrap .pfpackage> div:nth-of-type(1) {
  display: flex;
}

#portfolio .wrap .pfpackage a.imgbox {
  width: calc(100% / 2);
}
#portfolio .wrap .pfpackage a.imgbox img{
  
  height: 280px;
}

#portfolio .wrap .pfpackage div.pftitle { 
  width: calc(100% / 2);
  padding: 0px 0 1.5rem 5rem;
  box-sizing: border-box;
}

#portfolio .wrap .pfpackage div.pftitle .pfh{
  
}

#portfolio .wrap .pfpackage div.pftitle > a.pfh >div h3 {
  line-height: 1.6;
  font-weight: 400;
  color: #eee;
}

#portfolio .wrap .pfpackage div.pftitle > a.pfh >div h4 {
  color: #aeaeae;
  font-weight: lighter;
}

#portfolio .wrap .pfpackage div.pftitle > a.pfh ul.hashtag {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

#portfolio .wrap .pfpackage div.pftitle > a.pfh ul.hashtag li {
  border: 2px solid rgba(10, 205, 206, 0.25);
  padding: 0.7rem 1.2rem;
  border-radius: 1.3rem;
}

#portfolio .wrap .pfpackage div.pftitle > a.pfh ul.hashtag li span{
  color: rgb(10, 205, 206);
}

#portfolio .wrap div.pfbox1 div.pftitle > .more {

}

#portfolio .wrap .pfpackage div.pftitle > .more:hover{
  background-color: rgb(10, 205, 206);
}

#portfolio .wrap .pfpackage div.pftitle > .more span{  
  font-weight: 600;
  color: rgb(10, 205, 206);
}

#portfolio .wrap .pfpackage div.pftitle > .more:hover span{  
  color: rgb(34, 34, 34);
}
/* 포트폴리오 영역 */
#portfolio {
  background-color: #222;
  height: 100%;
  min-height: 88rem;
  display: flex;
}

#portfolio .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portfolio .wrap h2.h2{ 
}

#portfolio .wrap .contentslide{
  
}

#portfolio .wrap .pfpackage{ 
  padding: 50px 0;
}
/* 변경된 코드 */
#portfolio .wrap .pfpackage div.pftitle > div.pfh >div h3 { 
  line-height: 1.6;
}

#portfolio .wrap .pfpackage div.pftitle > div.pfh >div h4 {
  margin-top: 1rem;
  color: #aeaeae;
  font-weight: 400;
}
#portfolio .wrap .pfpackage div.pftitle > div.pfh ul.hashtag {
  display: flex;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

#portfolio .wrap .pfpackage div.pftitle > div.pfh ul.hashtag li {
  border: 2px solid rgba(10, 205, 206, 0.25);
  padding: 0.7rem 1.2rem;
  border-radius: 1.3rem;
}
#portfolio .wrap .pfpackage div.pftitle > div.pfh ul.hashtag li span{ 
  color: #0ac7c8;
}

#portfolio .wrap .pfpackage div.pftitle .button-flex{
  display: flex;
  margin-top: 9.7rem;
  gap: 2rem;
}

#portfolio .wrap .pfpackage div.pftitle div .more span{
  color: #0ac7c8;
  font-weight: 600;
}

#portfolio .wrap .pfpackage div.pftitle div .more:hover span{  
  color: rgb(34, 34, 34);
}

#portfolio .wrap .pfpackage div.pftitle div .more:hover{
  background-color: rgb(10, 205, 206);
}