#travel .wrap {
  position: relative;
}
#travel .wrap ul {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}
#travel .wrap ul li {
  width: 355px;
  height: 340px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px;
}
#travel .wrap ul li a.travel-card1{ 
  height: 100%;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
#travel .wrap ul li a.travel-card1 div.travel-con{
  display: grid;
  grid-template-columns: 50% 88px 88px;
  grid-template-rows: 85px 85px;
  width: 100%;
  gap: 1px;
}
#travel .wrap ul li a.travel-card1 div.travel-con >.con1{
  grid-row: 1 / 3;
  order: 1;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con1 img{
  width: 100%;
  border-radius: 10px 0 0 0;
  height: 100%;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con2{
  order: 2;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con2 img{
  width: 100%;
  height: 100%;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con3{
  order: 3;
  overflow: hidden;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con3 img{
  width: 100%;
  height: 100%;
  border-radius: 0 10px 0 0;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con4{
  order: 4;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con4 img{
  width: 100%;
  height: 100%;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con5{
  width: 100%;
  order: 5;
}
#travel .wrap ul li a.travel-card1 div.travel-con > .con5 img{
  width: 100%;
  height: 100%;
}
#travel .wrap ul li a.travel-card1 .con6{
  height: 170px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  padding: 24px 24px;
  box-sizing: border-box;
}
#travel .wrap ul li a.travel-card1 .con6 h3{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  order: 2;
  font-weight: 500;
  line-height: 2;
}
#travel .wrap ul li a.travel-card1 .con6 .schedule{
  color: rgba(58, 58, 58, 0.5);
  order: 1;
  font-weight: 500;
  margin-top: 10px;
}
#travel .wrap ul li a.travel-card1 .con6 .travel-ct{
  order: 3;
  color: rgba(58, 58, 58, 1);
  font-weight: 400;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#travel .wrap ul li a.travel-card1 .con6 .travel-ct .block{
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
}
#travel .wrap ul li a.travel-card1 .con6 figure{
  position: absolute;
  width: 42px;
  height: 42px;
  top: -22px;
  left: 20px;
}
#travel .wrap ul li a.travel-card1 .con6 figure img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid white;
}
#travel .wrap ul li a.travel-card2{
  height: 100%;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}
#travel .wrap ul li a.travel-card2 .travel-con{
  width: 100%;
}
#travel .wrap ul li a.travel-card2 .travel-con .con1{
  border-right: 1px solid white;
  overflow: hidden;
  height: 170px;
}
#travel .wrap ul li a.travel-card2 .travel-con .con1 >img{
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}
#travel .wrap ul li a.travel-card2 .con6{
  height: 170px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  padding: 24px 24px;
  box-sizing: border-box;
}
#travel .wrap ul li a.travel-card2 .con6 h3{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  order: 2;
  font-weight: 500;
  line-height: 2;
}
#travel .wrap ul li a.travel-card2 .con6 .schedule{
  color: rgba(58, 58, 58, 0.5);
  order: 1;
  font-weight: 500;
  margin-top: 10px;
}
#travel .wrap ul li a.travel-card2 .con6 .travel-ct{
  order: 3;
  color: rgba(58, 58, 58, 1);
  font-weight: 400;
  line-height: 1.2;
}
#travel .wrap ul li a.travel-card2 .con6 .block{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#travel .wrap ul li a.travel-card2 .con6 figure{
  position: absolute;
  width: 42px;
  height: 42px;
  top: -22px;
  left: 20px;
}
#travel .wrap ul li a.travel-card2 .con6 figure img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid white;
}
#travel .wrap .more{
  position: absolute;
  top: 104px;
  right: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #e2e2e2;
}
#travel .wrap .more span{
  background-image: url(../img/arrowR.svg);
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
